[Unit]  
Description=Dotnet EICServer  
  
[Service]  
ExecStart=dotnet /var/www/EICServer/EICServer.dll "protocol:http" 
WorkingDirectory=/var/www/EICServer/ 
User=root  
Group=root  
Restart=always
RestartSec=5  
SyslogIdentifier=dotnet-EICServer  
PrivateTemp=true  
Environment=ASPNETCORE_ENVIRONMENT=Development
KillSignal=SIGINT
StandardOutput=file:/var/www/EICServer/Log/standardOutput.log
StandardError=file:/var/www/EICServer/Log/standardError.log

[Install]  
WantedBy=multi-user.target  